[submodule "examples"]
	path = examples
	url = https://github.com/vercel/examples.git

[submodule "next-server-components"]
	path = next-server-components
	url = https://github.com/vercel/next-server-components.git
