@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
    body{
        margin: 0;
        font-family: 'Lato',sans-serif;
        font-weight: bold;
    }
    .hero{
        background-color: #23475b;
        color: white;
        padding: 32px 15px;
        display: grid;
        grid-template-columns: minmax(auto,1024px);
        justify-content: center;
    }
    .hero-container{
        display: grid;
        grid-template-columns: 70px 1fr 320px;
        grid-template-areas: "badge title form"
                             ". description form"
                             ". countdown form";
        grid-gap: 10px;
    }

    .title{
        font-size: 36px;
        font-weight: normal;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .form{
        text-align: center;
        background-color:rgba(255, 255,255,.9);
        padding: 1.5em;
        border-radius: 10px;
    }

    .form input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #dbdbe2;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .form p{
        font-size: 20px;
        color: #3a3b3f;
        margin-bottom: 1em;
    }

    .form button{
        background: #98ca3f;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor:pointer;
        font-size: 16px;
        border-bottom: 5px solid #6d932b;
        display: inline-block;
    }

    .countdown p{
        font-size: 20px;
        text-align: center;
        font-weight: 300;

    }

    .countdown span{
        font-size: 33px;

    }

    .countdown span:after{
        content: ":";
        display: inline-block;
        margin: 0 5px;
    }

    .countdown span:last-child::after{
        display: none;
    }

    p{
        margin: 0;
    }

    .badge{
        grid-area: badge;
    }

    .badge img{
        max-width: 70px;
    }

    .title{
        grid-area: title;
    }

    .form{
        grid-area: form;
    }

    .description{
        grid-area: description;
    }

    .countdown{
        grid-area: countdown;
    }

    @media screen and (max-width: 768px){
        .hero-container{
        grid-template-columns: 70px 1fr;
        grid-template-areas: "badge title "
                             "description description "
                             "form form"
                             "countdown countdown ";
        }
    }
